<div class="candidate-form container">
  <h2 class="text-center mb-4">Apply for {{ vacancy?.title }}</h2>
  <form (ngSubmit)="submitApplication()" class="mx-auto" style="max-width: 400px;">
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" [(ngModel)]="applicationForm.name" name="name" required />
      </div>
      <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" id="surname" class="form-control" [(ngModel)]="applicationForm.surname" name="surname" required />
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="applicationForm.email" name="email" required />
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" id="phone" class="form-control" [(ngModel)]="applicationForm.phone" name="phone" required />
      </div>

      <div class="d-flex justify-content-between mt-4">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="exit()">Cancel</button>
      </div>
  </form>
</div>
